body{
  background-color: #262626;   
}

.backgroundImage{
  background-image: url("./style/images/BackPng.png");
  width: 85vh;
  height: 90vh;
  margin:0 auto ;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position:relative;
}

